*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
#fondo-index-general{
    background-image: url(#{request.contextPath}/resources/imgs/fondocat.png);
    background-size: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.h1 small {
font-size: 24px;
}
#body-fix{
    margin-top:auto;
}
#Video{
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    margin-top: -135px;
    max-width: 100%;
    z-index: -10;
    margin: auto;
    visibility: visible;
    overflow: hidden;
    background-repeat: no-repeat;
    position: center;
    background-attachment: fixed;
}

#contenedor_video{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin: auto;
}
#titulo{
    background-color: #000;
    width: 101.1%;
    height: 9%;
    top: 0;
    margin-top: -3px;
    position: absolute;

}
#titulo h1{
    color: #fff;
    text-align: center;
}
#patallablanca{
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -9;
    visibility: visible;
    opacity: 0.2;
    margin: auto;
}
#logo{
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    width: 100px; 
    height:auto; 

}


/*Imagenes de los logos*/
#logop{
    background-color: #000;
    width: 250px;
    height: 250px;
    float: right;
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 150%;
    background: #000;
    opacity: 0.7;
    border: 2px solid #000;
    z-index: 4000;

}
/*#logop1{
        background-color: transparent;
        width: 65px;
        height: 65px;
         float:left ;
         margin-left: 10px;
         margin-top: 3px;
     -moz-border-radius: 100%;
     -webkit-border-radius: 100%;
     border-radius: 150%;
     background: #F4D03F;
     border: 2px solid #000;
     z-index: 7000;

}
#logomap1{
position: relative;
width: 50px;
 height: 50px;
 margin-left: 5px;
 margin-top:7px ;
 z-index: 7000;
 float: left;

 }*/
#logomap{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: 13%;
    z-index: 98;
    float: left;
    opacity: 0.72
}

/*estilos de los botones del titulo*/
.contenedor p{
    margin-bottom: 40px;
}
header nav{
    background-color: #000;
    margin-bottom: 10px;
    height: 12%;
}
header nav ul{
    list-style: none;
    overflow: hidden;
    margin-left: 13%;


}
header nav ul li{
    float: left;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
}
#menu-header{
    margin-left: 170px;
    width: 100%;
}
/*Iconos de los botones*/
#icon_reseña{
    font-size: 20px;
    color: #fff;
    margin-right: 5px;
}
#icon_ubicacion{
    margin-right: 10px;
}
#icon-vision{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
/*Estilos menu pegajoso*/

.contenedor {
    width: 100%;
    margin: auto;
    background: #000;
}
.menu-fixed{
    position: fixed;
    z-index: 6000;
    top: 0;
    background: transparent;
    height: auto;
    float: left;
}
nav{
    z-index: 5000;
}	
#navbarsita li a{
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-overflow: auto;
    margin-top: 5px;
    margin-right: 10px;
    z-index: 6001;

}
.mision_scroll:active{
    background-color: #fff;
}
#navbarsita li a:hover{
    text-decoration: none;
    background-color: #FFE000;
    color: #000;
    border-radius: 5px 5px 5px 5px;
}
#navbarsita li a:focu s{
    text-decoration: none;
    background-color: #F0D61A;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
}
/*a:focus, a:hover{
background-color: #F0D61A;
color: #000;
text-decoration: none;
}*/
.menu-fixed{
    position: fixed;
    /*z-index: 1000;*/
    top: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0px 4px 3px;
    background: #000;
    opacity: 0.7;

}

/*Boton ingresar y registrarse*/
#ingresar{
    position: absolute;
    float:left; 
    overflow: hidden;
    margin-top: 38%;
    margin-left:36%;
    width: 10%;
    height: 8%;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    z-index: 3000;
    border:transparent;
    box-shadow: 2px 3px 0px 0px rgba(0,0,0,.5);
}
#registro{
    position: absolute;
    margin-left:54%;
    margin-top: 38%;
    width: 10%;
    height: 8%;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    z-index: 3000;
    border:transparent;
    box-shadow: 2px 3px 0px 0px rgba(0,0,0,.5);

}
#registro:hover{
    background-color: #F0D61A;
    color: #000;
    opacity: 0.8;


}
#ingresar:hover{
    background-color: #F0D61A;
    color: #000;
    opacity: 0.8;
}

/*Contenido formulario Ingreso*/
.contenedor_ingreso{
    position: absolute;
    z-index: 9000;
    background-color: #262626;
    width: 380px;
    height: 450px;
    top: 0;
    margin-top: -80%;
    margin-left: 480px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #fff;

}
.modal_ingreso{
    width: 1349px;
    height: 115%;
    top: 0;
    margin-top: -150%;
    background-color: #000;
    z-index: 8000;
    position: absolute;
    opacity: 0.6;

}
.contenido_formulario_ingreso{
    position: relative;
    top: 0;
    margin-top: -60%;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    color: #fff;
}
.contenido_formulario_ingreso h2{
    margin-left: -25px;
}
#cerrar{
    font-size: 28px;
    color: #fff;
    float: right;
    margin-top: -200px;
    margin-left: 310px;
    position: absolute;
}
#contenedor_icon_user{
    background-color: #1C1B1C;
    width: 40px;
    height:40px;
    margin-top: 10px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    margin-left: 10px;
}
#icon_user{
    font-size: 21px;
    margin-top: 10px;
    margin-left: 13px;
    color: #fff;
}
#usuario{
    float: left;
    margin-left: 15px;
    margin-top: 11px;
    border-radius: 0px 5px 5px 0px;
    height: 38px;
    width: 90%;
}
#usuar{
    margin-left: 15px;
    font-size: 16px;
}
#contenedor_icon_password{
    background-color: #1C1B1C;
    width: 40px;
    height:40px;
    margin-top: 10px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    margin-left: 10px;
}
#icon_password{
    font-size: 21px;
    margin-top: 10px;
    margin-left: 13px;
    color: #fff;
}
#passwordinput{
    float: left;
    margin-left: 15px;
    margin-top: 11px;
    border-radius: 0px 5px 5px 0px;
    height: 38px;
    width: 90%;
}
#pass{
    margin-left: 15px;
    font-size: 16px;
}
.contenido_formulario_ingreso h2{
    color: #fff;
    font-size: 24px;
    font-family: tahoma;
    text-align: center;
    margin-top: -10px;
}

.checkbox{
    margin-left: 20px;
    font-size: 15px;
}
#button_ingresar{
    width: 75%;
    margin-left: 15px;
    background-color: #EDBF25;
    border-color: #E8A019;
    color: #000;
}
#olvidar{
    margin-left: 15px;
    margin-top: 3px;
    text-decoration: none;
    color: #fff;
}
#olvidar:hover{
    color: #EDBF25;
}
#ingresar-profesor{
    margin-top: 7px;
    width: 115%;
    height: 35px;
    background-color: #EDBF25;
    color: #000;
    border-color: #E8A019;
    font-size: 16px;
    margin-left: -22%;
}
#ingresar-admin{
    margin-top: 7px;
    width: 115%;
    height: 35px;
    background-color: #EDBF25;
    color: #000;
    border-color: #E8A019;
    font-size: 16px;
    margin-left: -22%;
}
#especialidad{
    margin-top: 5px;
    color: #000;
    width: 230px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;

}
/* Enviar documento alerta */

/* Enviar documento alerta */

/*Contenido formulario de registro*/
.contenedor_registro{	
    z-index: 8000;
    background-color: #262626;
    width: 550px;
    height: 700px;
    top: 0;
    position: absolute;
    margin-top: -1100px;
    margin-bottom: 500px;
    margin-left: 430px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #fff;
}
#cerrar1{
    font-size: 28px;
    color: #fff;
    float: right;
    margin-left: 330px;
    position: absolute;
}
.contenido_formulario_registro{
    position: absolute;
    margin-top: 0px;
    width: 430px;
    height: 400px;
    margin-left: 5px;
    color: #fff;
}
.contenido_formulario_registro h2{
    color: #fff;
    font-size: 24px;
    font-family: tahoma;
    text-align: center;
    margin-top: -10px;
    margin-left: -30px;
}
.contenido_formulario_registro label{
    margin-top: 10px;
}


/*Cosas bootsnip*/
.nav-tabs {
    margin-bottom: 15px;
    width: 95%;
}
.nav-tabs li a {
    color: #fff;
}
.nav-tabs li a:hover{
    color: #000;
}
.sign-with {
    padding: 20px;
}

.contenedor-registro{
    background-color: transparent;
    width: 580px;
    height: auto;
    margin-top: -60px; 
}
.modal-content{
    width: 590px;
    background-color: transparent;
}
.form-group input {
    width: 160px;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: 5px;
}
.form-group label{
    margin-top: 15px;
    margin-left: -25px;
}
.tab-content{
    margin-top: 10px;
}
.modal-header{
    width: 90%;
    margin-left: 5px;
}
#label-conf{
    margin-left: 0px;
    margin-top: 4px;
}
#label-fecha-n{
    margin-top: 4px;
}
#registrar-aspirante{
    margin-top: 7px;
    width: 115%;
    height: 35px;
    background-color: #EDBF25;
    color: #000;
    border-color: #E8A019;
    font-size: 16px;
}
#olvidar-aspirante{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
#close{
    color: #fff;
    font-size: 20px;
    margin-left: 95%;
}
/*Cosas bootsnip*/




.contenido_formulario_registro_administrador{
    position: absolute;
    width: 400px;
    height: 400px;
    color: #fff;
    z-index: 3999;
    background-color: transparent;
    margin-top: 200px;
    margin-left: 1500px;
    position: fixed;
}
#administrador{
    margin-top: -600px;
    float: left;
}
.contenido_formulario_registro_administrador h2{
    color: #fff;
    font-size: 24px;
    font-family: tahoma;
    text-align: center;
    margin-top: -10px;
    margin-left: -30px;
}
.contenido_formulario_registro_administrador label{
    margin-top: 10px;
}
#nombres{
    width: 110%;
}
#apellidos{
    width: 120%;
}
#tipo_documento{
    margin-left: 10px;
}
#contraseña1{
    width: 110%;
}
#contraseña{
    width: 96%;
}
#button_registrar{
    width: 90%;
    margin-left: px;
    margin-top: 25px;
    background-color: #EDBF25;
    border-color: #E8A019;
    color: #000;
}

#fecha_nacimiento{
    width: 110%;
}
#correo_electronico{
    width: 120%;
}
#direccion{
    width: 110%;
}
#telefono{
    width: 120%;
}
/*Contenido index*/
.contenido_index{
    margin-top: 40%;
    position: relative;
    z-index: 700;
    margin-top: auto; 
    /*background-color: #FFDF0B;*/
}

.contenido_index h3{
    text-align: center;
    font-size: 28px;
}
.contenido_index p{
    text-align: center;
    font-size: 21px;

}
.select_documento{

}
.select_documento select{
    color: #000;
    width: 90%;
    height: 30px;

}
/*Estilos Seccion mision*/
.shadow{
    z-index: -1000;
    box-shadow: 20px 20px 40px rgba(0,0,0,0.5);
    margin-top: 70%;
}
.well {
    padding: 19px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 4px 4px 4px 4px solid #000;
    height: 290px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, .05);
    padding: 20px 50px;
    color: #000;
    margin-top: 3%;
}


/*Estilos Personal*/
#personal{
    width:100%;
    overflow: hidden;
    position: relative;
    z-index: 690;
    padding-bottom: 20px;
    margin-left: -30px;

}
#personal h2{
    text-align: center;
}
.user{
    background-color: #ccc;
    width: 160px;
    height: 160px;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
}
#user1 {
    margin-left:13px;
    text-align: center;
    font-size: 14px;
}
#user2 {
    margin-left:-20px;
    text-align: center;
    font-size: 14px;
}
#user3 {
    margin-left:20px;
    text-align: center;
    font-size: 14px;
}
#user4 {
    margin-left:30px;
    text-align: center;
    font-size: 14px;
}
#user5 {
    margin-left:30px;
    text-align: center;
    font-size: 14px;
}

/*Estilos Reseña Historica*/
#reseña_historica{	
    position: relative;
    z-index: 700;
    width: 92%;
    height: 90%;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
    float: bottom;
    margin-top: auto; 
}
#reseña_historica h2{
    text-align: center;
}
.libro-1{
    float: left;
    position: relative;
    width: 105%;
    text-align: justify;
}
.libro-2{
    position: relative;
    margin-left: 1260px;
    width: 105%;
    text-align: justify;
}
#pasar-libro{
    float: right;
    position: relative;
    width: 8px;
    height: 20px;
    font-size: 50px;
    margin-right: 10px;
    margin-top: 35px;
    color: #fff;
    cursor: pointer;

}
#libro_pagina-2{
    margin-left: 0.5%;
}
#contorno-icono-right{
    background-color: #666666;
    width: 20px;
    height: 130px;
    border-radius: 10px 10px 10px 10px;
}
#contorno-icono-right:hover{
    padding-left: 25px;
}
#contorno-icono-left{
    background-color: #666666;
    width: 20px;
    height: 130px;
    margin-right:0px;
    border-radius: 10px 10px 10px 10px;
}
#contorno-icono-left:hover{
    padding-right:25px;
}
#pasar-libro2{
    float: left;
    position: relative;
    width: 8px;
    height: 200px;
    font-size: 50px;
    margin-right: 10px;
    margin-top: 35px;
    color: #fff;
    cursor: pointer;
}


/*Estilos del footer */


footer{
    background-color: #2f3030;
    position: absolute;
    z-index: 700;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
footer p a{
    color: #fff;
    text-align: center;
}
footer p a:hover{
    text-decoration: none;
    color: #6C6969;
}
#contactenos1{
    width: 100%;
    height: 10%;
    background-color: #504E4E;
    color: #000;
}
#contactenos1  p{
    color: #fff;
    font-size: 18px;
    margin-top: 17px;
    font-family: verdana;
    float: left;
}
#title{
    margin-bottom: 30px;
}
#email{
    margin-top:10px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    font-size: 18;
}
#siguenos{
    margin-left: 200px;
}
#iconos{
    font-size: 25px;
    color: #868282;
    margin-top: 20px;
    margin-left: 20px;
}
#redes a i:hover{
    color: #fff;
}
#contactenos2{
    width: 100%;
    height: 65%;
    background-color: #282D35;
    color: #fff;
    text-align: center;
}
#contactenos2 p {
    margin-top: 20px;
    font-size: 13px;
    margin-right: 20px;
}
#contactenos2 p a{
    color: #8C8B8B;
    text-decoration: none;
}

#iconos2{
    font-size: 20px;
    color: #868282;
    margin-right: 20px;
}
hr{
    margin-left: 40px;
    margin-right: 40px;
}
#letrapequeña i{
    color: #8C8B8B;
    font-size: 10px;
    float: left;
    margin-left: 40px;
}
#botonenv{
    background-color: #666666;
    color: #fff;
    border-color: transparent;
}
#botonenv:hover{
    background-color: #454545;
}


/*Estilos Torneos !!!!!!!!!!!!*/
#torneos_escuela{
    position: relative;
    z-index: 700;
    width: 92%;
    height: auto;
    overflow: hidden;
    margin-left: 50px;
    margin-right: 50px;
}
#torneos_escuela h2{
    text-align: center;
}
#torneos_escuela h1{
    text-align: center;
}
#torneos_especiales{
    background-color: #FCF8C0;


}
.imagen{
    width: 80%;
    height: 250px;
}
roflContent{
    height: 480px;
}
roflContent h3{
    cursor: pointer;
}

#contenedor-del-torneo{
    height: 300px;
}
#ver_mas{
    width: 100%;
    margin-top: 25px;
}

#ver_mas2{
    width: 100%;
    margin-top: 0px;
}

#ver_mas3{
    width: 100%;
    margin-top: 0px;
}
#ver_mas4{
    width: 100%;
    margin-top: 0px;
}
#ver_mas5{
    width: 100%;
    margin-top: 20px;
}



/*MODALES BOOTSNIPP*/

.modal-torneos{
    position: absolute;
    display: none;
    background-color: #000;
    opacity: 0.7;
    z-index: 2999;
    top: 0;
    left: 0;
    width: 1500px;
    height: 1080px;
    margin-top: -75px;
    margin-left: -20px;
}
.modal-content{
    display: none;
    margin-top: -420px;
    margin-left: 300px;
    z-index: 3000;
    position: absolute;
}
.modal-title{
    text-align: center;
    font-size: 24px;
}
#content2{
    margin-left: -100px;
}
#content3{
    margin-left: -500px;
}
#content4{
    margin-top: -650px;
    margin-left: 200px;
}
#content5{
    margin-top: -650px;
    margin-left: -300px;
}
.imagen_carrusel{
    height: 400px;
    width: 100px;
}

#myCarousel{
    margin-top: 20px;
}



/*ESTILOS UBICANOS*/
#ubicanos-seccion{
    position: relative;
    z-index: 700;
    width: 95%;
    height: auto;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 50px;
}
#ubicanos-seccion h2{
    text-align: center;
}
.info-ubicacion{
    width: 530px;
    position: relative;
    margin-top: 0px;
    margin-left: 5%;
    font-family: Tahoma;
    font-size: 18px;
}
.contenedor_carrusel{
    width: 530px;
    height: 350px;
    float: right;
    margin-right: 10%;
}

#navbarsita{
    position: fixed;
    margin-left: -10px;
    width: 102%;
    height: auto;
    background-color: #000;
    opacity: 0.8;
}
#ordenarId{
    text-align: center;
}